# =========================
# Entorno virtual
# =========================
kyoto/
venv/
env/

# =========================
# Variables de entorno
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos de configuración locales
# =========================
instance/

